

<form>
  <div class="H">
   <U><h3> <p> Remplissez Soigneusement le Formulaire d'inscription</p></h3></U>
    </div>
    <link href="formulaire-stagiaire.component.css" rel="stylesheet">
    <div class="row">
      <div class="col">
         
   <div class="M"><h2>1- Personal Details </h2></div> 

      <label for="First Name"><b>First Name</b></label>
      <input type="text" class="First Name" placeholder=" Enter First  Name">
     
      <label for="Last Name"><b>Last Name</b></label>
      <input type="text" class="form-control" placeholder=" Enter Last Name">
      <label for="Adress"><b>Adress</b></label>
      <input type="text" class="form-control" placeholder=" Enter Adress">
      <div>
      <label for="Sex"><b>Sex</b></label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">Women</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">Men</label>
      </div>
    </div>


      <label for="Date of birth"><b>Date of birth</b></label>
      <input type="text" class="form-control" placeholder="Enter  Date of birth">
      <label for=" Place of birth"><b>Place of birth</b></label>
      <input type="text" class="form-control" placeholder="Place  Place of birth">
      
      <label for="Number NIC"><b>Number NIC</b></label>
      <input type="text" class="form-control" placeholder="Enter Number NIC">
      
      <label for="Number NIC"><b> NIC Date of issue</b></label>
      <input type="text" class="form-control" placeholder=" Enter NIC Date of issue">
      <label for="Nationality"><b>Nationality</b></label>
      <input type="text" class="form-control" placeholder="Nationality">
      <label for="Mail"><b>Mail</b></label>
      <input type="text" class="form-control" placeholder="Enter Mail">
      <label for="Phone Number"><b>Phone Number</b></label>
      <input type="text" class="form-control" placeholder="Enter Phone Number">
      <label for="Bank"><b>Bank</b></label>
      <input type="text" class="form-control" placeholder="Enter Bank">  
      <label for="Bank-details"><b>Bank-details</b></label>
      <input type="text" class="form-control" placeholder="Enter Bank-details">
      <label for="CV"><b>CV</b></label>
      <input type="file" class="form-control" placeholder="chooce votre CV"> 
      <label for="NIC"><b>NIC</b></label>
      <input type="file" class="form-control" placeholder="NIC"> 

      </div>
  
      <div class="col">
        <div class="M"> <h2>2-University Information</h2></div>
        <label for="Bac+"><b>Bac+</b></label>
  <select class="form-control" id="Bac+">
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
  </select>
  <label for="Speciality"><b>Speciality</b></label>
  <input type="text" class="Speciality" placeholder=" Enter Speciality">
  <label for="University"><b>University</b></label>
  <input type="text" class="University" placeholder=" Enter University">
  <label for="Education Supervision"><b>Education Supervision</b></label>
  <input type="text" class="Education Supervision" placeholder=" Enter Education Supervision">
  <label for="Nature of intership"><b>Nature of intership</b></label>
  <input type="text" class="Nature of intership" placeholder=" Enter Nature of intership">
  <label for="Start Day"><b>Start Day</b></label>
  <input type="text" class="Start Day" placeholder=" Enter Start Day">
  <label for="End Date"><b>End Date</b></label>
  <input type="text" class="End Date" placeholder=" Enter End Date">
  <label for="Training Period"><b>Training Period</b></label>
  <input type="text" class="Training Period" placeholder=" Enter Training Period">
  <label for="Contact Manager Supervision"><b>Contact Manager Supervision</b></label>
  <input type="text" class="Contact Manager Supervision" placeholder=" Enter  Contact Manager Supervision">
  <label for="Degree Title at end of this intership"><b>Degree Title at end of this intership</b></label>
  <input type="text" class="Degree Title at end of this intership" placeholder=" Enter Degree Title at end of this intership">
      </div>

      <div class="col">
        

        <div class="M">   <h2>3-company information</h2></div>
        <label for="Nature of intership"><b>Nature of intership</b></label>
        <input type="text" class="Nature of intership" placeholder=" Enter Nature of intership">
        <label for="Start Day"><b>Start Day</b></label>
        <input type="text" class="Start Day" placeholder=" Enter Start Day">
        <label for="End Date"><b>End Date</b></label>
        <input type="text" class="End Date" placeholder=" Enter End Date">
        <div class="I">
    <button type="button"  class="btn btn-primary btn-sm" >Valider</button>
   
    
    <button type="button"  class="btn btn-primary btn-sm" >Annuler</button>
  
      </div>
    </div>
    </div>
  </form>
