

    <head> 

    
        <link href="aceuil-responsable.component.css" rel="stylesheet">
        
    
    </head> 
    <body> 

        <div class="Title">
        <label for="Trainee Space"><h6></h6></label>
    </div>
    <span class="encadrer-un-contenu">

    <section>
    <div id="conteneur">
        <div class="row">
            
            <div class="col">
    <div class="premier">
    <div>
     
            <div class=" image1">
              
            
                <img [src]="  image1" class="rounded float-left"   alt="Espace TimeSheet Responsable" >
              
            </div>
            
            <div class="IM">
            
            <span ><button class="btn btn-primary btn-sm" (click)= "  redirectionTimesheetIntern()">TimeSheet</button></span>
        </div>
        </div>
    </div>
    </div>
    <div class="col">
    <div class="deuxieme">
        <div>
            <div class="image2">
           
            
                <img [src]="image2"class="rounded float-right" width="470" height="420"  alt="Espace Trainne Form" >
                
            </div>
            <div class="IM">
                <span ><button class="btn btn-primary btn-sm" (click)= " redirectionForm()">TrainneForm</button></span>
               
        </div>
        </div>
    </div>
    </div>

</div>
</div>

</section>
</span>
            </body> 
    