<div class="encadrer-un-contenu" id="acceuil-responsable">
  <section>
    <div id="conteneur">
      <div class="row">
        <div class="col">
          <div class="premier">
            <div>

              <div class=" image1">
                <img [src]="  image1" alt="Espace TimeSheet Responsable" class="rounded float-left">
              </div>

              <div class="IM">
                <button (click)="redirectionTimesheetIntern()" class="btn btn-primary btn-sm">
                  TimeSheet
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="deuxieme">
            <div>
              <div class="image2">
                  <img [src]="image2" alt="Espace Trainne Form" class="rounded float-right" height="420" width="470">
              </div>
              <div class="IM">
                <button (click)=" redirectionForm()" class="btn btn-primary btn-sm">TrainneForm</button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
