
    <head> 
        <link href="aceuil-it.component.css" rel="stylesheet">
    </head> 
    <body> 
        <div class="Title">
        <label for="Trainee Space"><h6></h6></label>
    </div>
  
   <div class="container">
        <div class="row">
                  
       
            <div class="col-4">
              
               
                <img [src]="  img1" class="rounded float-left"   alt="Espace TimeSheet Responsable"  width=100%  >
                   <div class="IM">
                    <span ><button class="btn btn-primary btn-sm" (click)= "  redirectionMateriel()">Logistique Equipement</button></span>
                   </div>
               </div>
              
         
       </div>
    </div>
      
       
       
       
  
       
       
       
        