<link href="recapitulation.component.css" rel="stylesheet">
  
    <div class="row">
      <div class="col">
        <div class="H">
        <U><h3><p>Timesheet summary by month<p></h3></U>
        </div>
        <div class="tab1">
        <table>
          <thead>
            <tr>
              <th>dated</th>
              <th>presence on site</th>
              <th>Remote work</th>
              <th>absence</th>
              <th>remark</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>06/09/2021</td>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>06/08/2021</td>
              <td></td>
              <td></td>
              <td>no</td>
              <td></td>
            </tr>
          </tbody>
     
        </table>
      </div>
            <div id="conteneur">
              <form>
                <table>
                  <div class="A">
                  <tr>
                    <td>On the site</td>
                    <td><input type="text" class="form-control" > </td>
                  </tr>
                  <tr>
                    <td>Remote work</td>
                    <td><input type="text" class="form-control" > </td>
                  </tr>
                  <tr>
                    <td>the tota</td>
                    <td><input type="text" class="form-control" > </td>
                  </tr>
                  </div>
                </table>
                </form>
              </div>
             

              <div class="I">
                <button type="button" id="btnSubmit" class="btn btn-primary btn-sm">save</button>
               
                
                <button type="button"  id="btnSubmit" class="btn btn-primary btn-sm"> validate</button>
              
              
                </div>

              
              </div>
 

                           
  