<div id="login-page">
  <div class="container">
    <div>
      <form [formGroup]="loginForm" (ngSubmit)="onLoggedIn()" autocomplete="off">
        <label class="label" for="login"><b>Login</b></label>
        <input id="login" type="text" placeholder="Enter Login" formControlName="login" name="login" autocomplete="off"
               [ngClass]="{ 'is-invalid':   f.login.errors }"/>
        <label class="label" for="psw"><b>Password</b></label>
        <input id="psw" type="password" placeholder="Enter Password" formControlName="password" name="psw"
               [ngClass]="{ 'is-invalid':  f.password.errors }"/>

        <div>
          <button class="btn btn-primary btn-sm login-btn" (click)=" onLoggedIn()">Login</button>

          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
      </form>
    </div>

  </div>
</div>



