<div id="accueil-rh">

  <div class="items">
    <div class="col-3">
      <img [src]="image1" alt="Espace Traine Form" class="rounded float-right" width=60%>
      <div class="IM">
        <button (click)="redirectionForm()" class="btn btn-primary btn-sm">TrainneForm</button>
      </div>
    </div>

    <div class="col-3">
      <img [src]="image2" alt="Espace Timesheet Intern" class="rounded mx-auto d-block" width=60%>
      <div class="IM">
        <button (click)="redirectionTimesheetIntern()" class="btn btn-primary btn-sm">TimesheetIntern</button>
      </div>
    </div>

    <div class="col-3">
      <img [src]="image3" alt="Espace TraineSpace" class="rounded float-left" width=100%>
      <div class="IM">
        <button (click)="redirectionTraineSpace()" class="btn btn-primary btn-sm">TraineSpace</button>
      </div>
    </div>
  </div>

  <div class="items">
    <div class="col-3">
      <img [src]="image4" alt="Espace IT" class="rounded float-left" width=40%>
      <div class="IM">
        <button (click)="redirectionItDepartement()" class="btn btn-primary btn-sm">SpaceIT</button>
      </div>
    </div>

    <div class="col-3">
      <img [src]="image5" alt="Espace Recapp" class="rounded float-left" width=60%>
      <div class="IM">
        <button (click)="redirectionRecapitulation()" class="btn btn-primary btn-sm">Recapitulation</button>
      </div>
    </div>
  </div>
</div>
