<head>
    
    <link href="aceuil-rh.component.css" rel="stylesheet">
   
        <title>Espace Stagiaire</title> 
        <style>
            .row {
              display:contents;
            }
            .col {
              flex: 3; 
              padding: 6em;
              border: solid;
            }
          </style>

</head> 
<body> 
    <div class="Title">
    <label for="Trainee Space"><h6></h6></label>
</div>

        

    

<div class="container">
 <div class="row">
           

     <div class="col-4">
       
        
        <img [src]="image1" class="rounded float-right"  alt="Espace Traine Form" width=60% >
            <div class="IM">
               
            <span ><button  class="btn btn-primary btn-sm" (click)= "redirectionForm()">TrainneForm</button></span>
            </div>
        </div>
        <div class="col-4">
       
        
            <img [src]="image2" class="rounded mx-auto d-block" alt="Espace Timesheet Intern" width=60%  >
            <div class="IM">
                <span ><button class="btn btn-primary btn-sm" (click)= "redirectionTimesheetIntern()">TimesheetIntern</button></span>
            </div>
        </div>
        <div class="col-4">
            <img [src]="image3" class="rounded float-left" alt="Espace TraineSpace" width=100% >
            <div class="IM">
                <span ><button  class="btn btn-primary btn-sm" (click)= "redirectionTraineSpace()">TraineSpace</button></span>
            </div>
        </div>
        <div class="col-4">
            <img [src]="image4" class="rounded float-left" alt="Espace IT" width=40%  >
            <div class="IM">
                <span   ><button class="btn btn-primary btn-sm" (click)= "redirectionItDepartement()">SpaceIT</button></span>
        
            </div>
        </div>
        <div class="col-4">
            <img [src]="image5" class="rounded float-left" alt="Espace Recapp"width=60%  >
            <div class="IM">
                <span ><button  class="btn btn-primary btn-sm" (click)= "redirectionRecapitulation()">Recapitulation</button></span>
        
            </div>
        </div>
</div>
<hr>
</div>
<footer class="container">
<div>
 
</div>
</footer>





</body> 



 

 

        
  
        