#time-sheet {
  background-color: white;
  height: 100%;
}

.conteneur {
  border-width: 1px 2px 3px 2px;
  border-style: solid dotted;
  border-color: black rgb(38, 6, 78);
  padding: 0 10px;
}

.M {
  color: rgb(230, 19, 19);
  margin-bottom: 15px;
}

form {
  border: none;
  padding: 40px;
  font-weight: bold;
}

.label {
  margin-right: 20px;
  display: block;
}

tr {
  vertical-align: baseline;
}

.btns {
    margin-top: 70px;
    width: 37%;
    display: flex;
    justify-content: space-between;
}

.btns button {
    width: 40%;
}
