<head> 
  <link href="timesheet.component.css" rel="stylesheet">
</head> 
  
  
  <div id="conteneur">
<form>
  <table>
    <tr>
      <td>Entite</td>
      <td><input type="text" class="form-control" > </td>
    </tr>
    <tr>
      <td>Encadrant</td>
      <td><input type="text" class="form-control" > </td>
    </tr>
    <tr>
      <td>Stagiaire</td>
      <td><input type="text" class="form-control" > </td>
    </tr>
    <tr>
      <td>Mois</td>
      <td><input type="text" class="form-control" > </td>
    </tr>
  </table>
  </form>
</div>
  <form>
    
    <div class="M"> <U><h2>Rapport de Présence Par jour</h2></U>  </div>
        <table>
          <tr>
            <td>Date</td>
            <td><input type="date"></td>
          </tr>
          <tr>
            <td>Presence sur site </td>
            <td><select class="form-control" id="exampleFormControlSelect1">
              <option>0</option>
              <option>0.25</option>
              <option>0.5</option>
              <option>0.75</option>
              <option>1</option>
  
            </select></td>
  
          </tr>
          <tr>
            <td>teletravail </td>
            <td><select class="form-control" id="exampleFormControlSelect1">
              <option>0</option>
              <option>0.25</option>
              <option>0.5</option>
              <option>0.75</option>
              <option>1</option>
  
            </select></td>
  
          </tr>
          <td>Absence</td>
          <td><select class="form-control" id="exampleFormControlSelect1">
            <option>aucun</option>
            <option>justifier</option>
            <option>non justifier</option></select></td>
            <td>  <input type="file" class="form-control" placeholder="certif"></td>
            <tr>
              <td></td>
              <td></td>
              <td> <button type="button" id="btnSubmit" class="btn btn-primary btn-sm">Enregistrer</button>
                <button type="button" id="btnCancel" class="btn btn-primary btn-sm">Valider</button></td>
            </tr>
        </table>


        </form>
    
    
      
  
  
     
  
  
