.Title{
	color: rgb(12, 3, 90);
	font-size: 80px;
	text-align: left;
}
.main {

    
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: felx;
    margin:20px;
    margin-top:80px;
}
.stagiaire {

    display: felx;
   flex-wrap: warp;
}
.image {

margin-right: 20px;
   cursor: pointer;
   width: 350px;
}






.I1 {

    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left:200px;
}
.I3 {

    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left:200px;
}
.container {

    background-color: rgb(4, 80, 90);
  
}
.I1 {

    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left:180px;
}